<a href="https://colab.research.google.com/github/narmatha7904/Narmatha/blob/main/tdcuml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Layer, Dense, Dropout

path="/content/hypothyroid.csv"
data = pd.read_csv(path)
data.head(5)

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P

In [54]:
data.shape

(3772, 30)

In [55]:
data.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
TBG                          0
referral source              0
binaryClass                  0
dtype: int64

In [64]:
diagnoses = {'A':'hyperthyroid conditions',
             'B':'hyperthyroid conditions',
             'C':'hyperthyroid conditions',
             'D':'hyperthyroid conditions',
             'E':'hyperthyroid conditions',
             'F':'hyperthyroid conditions',
             'G':'hyperthyroid conditions',
             'H':'hyperthyroid conditions',
             'I':'binding protein',
             'J':'binding protein',
             'K':'genral health',
             'L':'replacement therapy',
             'M':'replacement therapy',
             'N':'replacement therapy',
             'O':'antithyroid treatment',
             'P':'antithyroid treatment',
             'Q':'antithyroid treatment',
             'R':'miscellaneous',
             's':'miscellaneous',
             'T':'miscellaneous'}

In [ ]:
data['target'] = data['target'].map(diagnoses)

In [ ]:
data[data.age>100]

In [ ]:
#activity 2.2

In [73]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]
x

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source
0,41,F,f,f,f,f,f,f,f,f,...,2.5,t,125,t,1.14,t,109,f,?,SVHC
1,23,F,f,f,f,f,f,f,f,f,...,2,t,102,f,?,f,?,f,?,other
2,46,M,f,f,f,f,f,f,f,f,...,?,t,109,t,0.91,t,120,f,?,other
3,70,F,t,f,f,f,f,f,f,f,...,1.9,t,175,f,?,f,?,f,?,other
4,70,F,f,f,f,f,f,f,f,f,...,1.2,t,61,t,0.87,t,70,f,?,SVI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,f,?,f,?,other
3768,68,F,f,f,f,f,f,f,f,f,...,2.1,t,124,t,1.08,t,114,f,?,SVI
3769,74,F,f,f,f,f,f,f,f,f,...,1.8,t,112,t,1.07,t,105,f,?,other
3770,72,M,f,f,f,f,f,f,f,f,...,2,t,82,t,0.94,t,87,f,?,SVI
3771,64,F,f,f,f,f,f,f,f,f,...,2.2,t,99,t,1.07,t,92,f,?,other

In [74]:
x['sex'].unique()

array(['F', 'M', '?'], dtype=object)

In [75]:
x['sex'].replace(np.nan,'F',inplace=True)
x['sex'].value_counts()

<ipython-input-75-4a3b231148f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['sex'].replace(np.nan,'F',inplace=True)

F    2480
M    1142
?     150
Name: sex, dtype: int64

In [79]:

x['age']=x['age'].dtype('float')
x['TSH']=x['TSH'].dtype('float')
x['T3']=x['T3'].dtype('float')
x['TT4']=x['TT4'].dtype('float')
x['FTI']=x['FTI'].dtype('float')
x['TBG']=x['TBG'].dtype('float')

TypeError: ignored

In [80]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3772 non-null   object
 1   sex                        3772 non-null   object
 2   on thyroxine               3772 non-null   object
 3   query on thyroxine         3772 non-null   object
 4   on antithyroid medication  3772 non-null   object
 5   sick                       3772 non-null   object
 6   pregnant                   3772 non-null   object
 7   thyroid surgery            3772 non-null   object
 8   I131 treatment             3772 non-null   object
 9   query hypothyroid          3772 non-null   object
 10  query hyperthyroid         3772 non-null   object
 11  lithium                    3772 non-null   object
 12  goitre                     3772 non-null   object
 13  tumor                      3772 non-null   object
 14  hypopituitary              3772 non-null   object
 15  psych                      3772 non-null   object
 16  TSH measured               3772 non-null   object
 17  TSH                        3772 non-null   object
 18  T3 measured                3772 non-null   object
 19  T3                         3772 non-null   object
 20  TT4 measured               3772 non-null   object
 21  TT4                        3772 non-null   object
 22  T4U measured               3772 non-null   object
 23  T4U                        3772 non-null   object
 24  FTI measured               3772 non-null   object
 25  FTI                        3772 non-null   object
 26  TBG measured               3772 non-null   object
 27  TBG                        3772 non-null   object
 28  referral source            3772 non-null   object
dtypes: object(29)
memory usage: 854.7+ KB

In [ ]:
#activity2.4
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
ordinal_encoder= OrdinalEncoder(dtype='int64')
x.iloc[:,1:16]=ordinal_encoder.fit_transfrom(x.iloc[:,1:16])
x

In [82]:
x.replace(np.nan,'0',inplace=True)
x

<ipython-input-82-fac26c08c9a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.replace(np.nan,'0',inplace=True)

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source
0,41,F,f,f,f,f,f,f,f,f,...,2.5,t,125,t,1.14,t,109,f,?,SVHC
1,23,F,f,f,f,f,f,f,f,f,...,2,t,102,f,?,f,?,f,?,other
2,46,M,f,f,f,f,f,f,f,f,...,?,t,109,t,0.91,t,120,f,?,other
3,70,F,t,f,f,f,f,f,f,f,...,1.9,t,175,f,?,f,?,f,?,other
4,70,F,f,f,f,f,f,f,f,f,...,1.2,t,61,t,0.87,t,70,f,?,SVI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,...,?,f,?,f,?,f,?,f,?,other
3768,68,F,f,f,f,f,f,f,f,f,...,2.1,t,124,t,1.08,t,114,f,?,SVI
3769,74,F,f,f,f,f,f,f,f,f,...,1.8,t,112,t,1.07,t,105,f,?,other
3770,72,M,f,f,f,f,f,f,f,f,...,2,t,82,t,0.94,t,87,f,?,SVI
3771,64,F,f,f,f,f,f,f,f,f,...,2.2,t,99,t,1.07,t,92,f,?,other

In [86]:
x=data.iloc[:0:-1]
y=data.iloc[:,-1]
x

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
3771,64,F,f,f,f,f,f,f,f,f,...,t,99,t,1.07,t,92,f,?,other,P
3770,72,M,f,f,f,f,f,f,f,f,...,t,82,t,0.94,t,87,f,?,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,...,t,112,t,1.07,t,105,f,?,other,P
3768,68,F,f,f,f,f,f,f,f,f,...,t,124,t,1.08,t,114,f,?,SVI,P
3767,30,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,P
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,P
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,P