<a href="https://colab.research.google.com/github/narmatha7904/Narmatha/blob/main/thyroid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Layer, Dense, Dropout
path="/content/thyroid.csv"
data=pd.read_csv(path)
data.head(5)

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [15]:
data.shape

(9172, 31)

In [16]:
data.isnull().sum()

age                       0
sex                     307
on_thyroxine              0
query_on_thyroxine        0
on_antithyroid_meds       0
sick                      0
pregnant                  0
thyroid_surgery           0
I131_treatment            0
query_hypothyroid         0
query_hyperthyroid        0
lithium                   0
goitre                    0
tumor                     0
hypopituitary             0
psych                     0
TSH_measured              0
TSH                     842
T3_measured               0
T3                     2604
TT4_measured              0
TT4                     442
T4U_measured              0
T4U                     809
FTI_measured              0
FTI                     802
TBG_measured              0
TBG                    8823
referral_source           0
target                    0
patient_id                0
dtype: int64

In [ ]:
data.drop(['TSH_measured','T3_measured','TT4_measured','T4U_measured','FTI_measured','TBG_measured','referral_source','patient_id'])

In [18]:
diagnoses = {'A':'hyperthyroid conditions',
             'B':'hyperthyroid conditions',
             'C':'hyperthyroid conditions',
             'D':'hyperthyroid conditions',
             'E':'hyperthyroid conditions',
             'F':'hyperthyroid conditions',
             'G':'hyperthyroid conditions',
             'H':'hyperthyroid conditions',
             'I':'binding protein',
             'J':'binding protein',
             'K':'genral health',
             'L':'replacement therapy',
             'M':'replacement therapy',
             'N':'replacement therapy',
             'O':'antithyroid treatment',
             'P':'antithyroid treatment',
             'Q':'antithyroid treatment',
             'R':'miscellaneous',
             's':'miscellaneous',
             'T':'miscellaneous'}

In [19]:
data['target']=data['target'].map(diagnoses)

In [23]:
data.dropna(subset=['target'],inplace=True)
data['target'].value_counts()

hyperthyroid conditions    775
genral health              436
binding protein            376
replacement therapy        336
miscellaneous              196
antithyroid treatment       33
Name: target, dtype: int64

In [24]:
data[data.age>100]

Empty DataFrame
Columns: [age, sex, on_thyroxine, query_on_thyroxine, on_antithyroid_meds, sick, pregnant, thyroid_surgery, I131_treatment, query_hypothyroid, query_hyperthyroid, lithium, goitre, tumor, hypopituitary, psych, TSH_measured, TSH, T3_measured, T3, TT4_measured, TT4, T4U_measured, T4U, FTI_measured, FTI, TBG_measured, TBG, referral_source, target, patient_id]
Index: []

[0 rows x 31 columns]

In [26]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]
x

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
18,63,F,t,f,f,t,f,f,f,f,...,t,48.0,t,1.02,t,47.0,f,NaN,other,hyperthyroid conditions
32,41,M,f,f,f,f,f,f,f,f,...,t,39.0,t,1.00,t,39.0,f,NaN,other,miscellaneous
33,71,F,t,f,f,f,f,f,f,f,...,t,126.0,t,1.38,t,91.0,f,NaN,other,binding protein
39,55,F,t,f,f,f,f,f,f,t,...,t,136.0,t,1.48,t,92.0,f,NaN,other,replacement therapy
40,32,F,t,f,f,f,f,f,f,f,...,t,163.0,t,0.94,t,173.0,f,NaN,other,replacement therapy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153,64,M,f,f,f,f,f,f,f,f,...,t,31.0,t,0.55,t,56.0,f,NaN,SVI,genral health
9157,60,M,f,f,t,f,f,f,f,f,...,t,28.0,t,0.87,t,32.0,f,NaN,other,genral health
9158,64,M,f,f,f,f,f,f,f,t,...,t,44.0,t,0.53,t,83.0,f,NaN,other,binding protein
9162,36,F,f,f,f,f,f,f,f,f,...,t,84.0,t,1.26,t,67.0,f,NaN,other,binding protein
9169,69,M,f,f,f,f,f,f,f,f,...,t,113.0,t,1.27,t,89.0,f,NaN,SVI,binding protein

In [27]:
x['sex'].unique()

array(['F', 'M', nan], dtype=object)

In [28]:
x['sex'].replace(np.nan, 'F',inplace=True)
x['sex'].value_counts()

F    1618
M     534
Name: sex, dtype: int64

In [30]:
x['age']=x['age'].astype('float')
x['TSH']=x['TSH'].astype('float')
x['T3']=x['T3'].astype('float')
x['TT4']=x['TT4'].astype('float')
x['FTI']=x['FTI'].astype('float')
x['TBG']=x['TBG'].astype('float')

In [31]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152 entries, 18 to 9169
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  2152 non-null   float64
 1   sex                  2152 non-null   object
 2   on_thyroxine         2152 non-null   object
 3   query_on_thyroxine   2152 non-null   object
 4   on_antithyroid_meds  2152 non-null   object
 5   sick                 2152 non-null   object
 6   pregnant             2152 non-null   object
 7   thyroid_surgery      2152 non-null   object
 8   I131_treatment       2152 non-null   object
 9   query_hypothyroid    2152 non-null   object
 10  query_hyperthyroid   2152 non-null   object
 11  lithium              2152 non-null   object
 12  goitre               2152 non-null   object
 13  tumor                2152 non-null   object
 14  hypopituitary        2152 non-null   object
 15  psych                2152 non-null   object
 16  TSH_measured         2152 non-null   object
 17  TSH                  2087 non-null   float64
 18  T3_measured          2152 non-null   object
 19  T3                   1643 non-null   float64
 20  TT4_measured         2152 non-null   object
 21  TT4                  2140 non-null   float64
 22  T4U_measured         2152 non-null   object
 23  T4U                  2059 non-null   float64
 24  FTI_measured         2152 non-null   object
 25  FTI                  2060 non-null   float64
 26  TBG_measured         2152 non-null   object
 27  TBG                  13 non-null     float64
 28  referral_source      2152 non-null   object
 29  target               2152 non-null   object
dtypes: float64(7), object(23)
memory usage: 521.2+ KB

In [41]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

ordinal_encoder = OrdinalEncoder(dtype = 'int64')
x.iloc[:, 1:16] = Ordinal_encoder.fit_transform(x.iloc[:, 1:16])
x

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
18,63.0,0,1,0,0,1,0,0,0,0,...,t,48.0,t,1.02,t,47.0,f,NaN,other,hyperthyroid conditions
32,41.0,1,0,0,0,0,0,0,0,0,...,t,39.0,t,1.00,t,39.0,f,NaN,other,miscellaneous
33,71.0,0,1,0,0,0,0,0,0,0,...,t,126.0,t,1.38,t,91.0,f,NaN,other,binding protein
39,55.0,0,1,0,0,0,0,0,0,1,...,t,136.0,t,1.48,t,92.0,f,NaN,other,replacement therapy
40,32.0,0,1,0,0,0,0,0,0,0,...,t,163.0,t,0.94,t,173.0,f,NaN,other,replacement therapy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153,64.0,1,0,0,0,0,0,0,0,0,...,t,31.0,t,0.55,t,56.0,f,NaN,SVI,genral health
9157,60.0,1,0,0,1,0,0,0,0,0,...,t,28.0,t,0.87,t,32.0,f,NaN,other,genral health
9158,64.0,1,0,0,0,0,0,0,0,1,...,t,44.0,t,0.53,t,83.0,f,NaN,other,binding protein
9162,36.0,0,0,0,0,0,0,0,0,0,...,t,84.0,t,1.26,t,67.0,f,NaN,other,binding protein
9169,69.0,1,0,0,0,0,0,0,0,0,...,t,113.0,t,1.27,t,89.0,f,NaN,SVI,binding protein

In [43]:
x.replace(np.nan,'0',inplace=True)
x

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
18,63.0,0,1,0,0,1,0,0,0,0,...,t,48.0,t,1.02,t,47.0,f,0,other,hyperthyroid conditions
32,41.0,1,0,0,0,0,0,0,0,0,...,t,39.0,t,1.0,t,39.0,f,0,other,miscellaneous
33,71.0,0,1,0,0,0,0,0,0,0,...,t,126.0,t,1.38,t,91.0,f,0,other,binding protein
39,55.0,0,1,0,0,0,0,0,0,1,...,t,136.0,t,1.48,t,92.0,f,0,other,replacement therapy
40,32.0,0,1,0,0,0,0,0,0,0,...,t,163.0,t,0.94,t,173.0,f,0,other,replacement therapy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153,64.0,1,0,0,0,0,0,0,0,0,...,t,31.0,t,0.55,t,56.0,f,0,SVI,genral health
9157,60.0,1,0,0,1,0,0,0,0,0,...,t,28.0,t,0.87,t,32.0,f,0,other,genral health
9158,64.0,1,0,0,0,0,0,0,0,1,...,t,44.0,t,0.53,t,83.0,f,0,other,binding protein
9162,36.0,0,0,0,0,0,0,0,0,0,...,t,84.0,t,1.26,t,67.0,f,0,other,binding protein
9169,69.0,1,0,0,0,0,0,0,0,0,...,t,113.0,t,1.27,t,89.0,f,0,SVI,binding protein

In [46]:
label_encoder= LabelEncoder()
y_dt= label_encoder.fit_transform(y)

In [48]:
y=pd.DataFrame(y_dt,columns=['target'])
y

      target
0          0
1          1
2          2
3          3
4          4
...      ...
2147    2147
2148    2148
2149    2149
2150    2150
2151    2151

[2152 rows x 1 columns]

In [51]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]
x

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
18,63,F,t,f,f,t,f,f,f,f,...,t,48.0,t,1.02,t,47.0,f,NaN,other,hyperthyroid conditions
32,41,M,f,f,f,f,f,f,f,f,...,t,39.0,t,1.00,t,39.0,f,NaN,other,miscellaneous
33,71,F,t,f,f,f,f,f,f,f,...,t,126.0,t,1.38,t,91.0,f,NaN,other,binding protein
39,55,F,t,f,f,f,f,f,f,t,...,t,136.0,t,1.48,t,92.0,f,NaN,other,replacement therapy
40,32,F,t,f,f,f,f,f,f,f,...,t,163.0,t,0.94,t,173.0,f,NaN,other,replacement therapy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9153,64,M,f,f,f,f,f,f,f,f,...,t,31.0,t,0.55,t,56.0,f,NaN,SVI,genral health
9157,60,M,f,f,t,f,f,f,f,f,...,t,28.0,t,0.87,t,32.0,f,NaN,other,genral health
9158,64,M,f,f,f,f,f,f,f,t,...,t,44.0,t,0.53,t,83.0,f,NaN,other,binding protein
9162,36,F,f,f,f,f,f,f,f,f,...,t,84.0,t,1.26,t,67.0,f,NaN,other,binding protein
9169,69,M,f,f,f,f,f,f,f,f,...,t,113.0,t,1.27,t,89.0,f,NaN,SVI,binding protein

In [57]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [58]:
from imblearn.over_sampling import SMOTE
y_train.value_counts()

861208030    1
851211060    1
860306053    1
851001014    1
850307058    1
            ..
860930021    1
861124001    1
841016030    1
841105011    1
860729012    1
Name: patient_id, Length: 1721, dtype: int64

In [73]:
columns=['age','sex','on_thyroxine','query_on_thyroxine','on_antithyroid_meds','sick','pregnant','thyroid_surgery','I131_treatment','query_hypothyroid','query_hyperthyroid','lithium','goitre','tumor','hypopituitary','psych','TSH_measured','TSH','T3_measured','T3','TT4_measured','TT4','T4U_measured','T4U','FTI_measured','FTI','TBG_measured','TBG','referral_source','target','patient_id']

In [ ]:
x_test_bal=pd.DataFrame(x_test_bal,columns=columns)

In [81]:
x.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target
18,63,F,t,f,f,t,f,f,f,f,...,t,48.0,t,1.02,t,47.0,f,NaN,other,hyperthyroid conditions
32,41,M,f,f,f,f,f,f,f,f,...,t,39.0,t,1.00,t,39.0,f,NaN,other,miscellaneous
33,71,F,t,f,f,f,f,f,f,f,...,t,126.0,t,1.38,t,91.0,f,NaN,other,binding protein
39,55,F,t,f,f,f,f,f,f,t,...,t,136.0,t,1.48,t,92.0,f,NaN,other,replacement therapy
40,32,F,t,f,f,f,f,f,f,f,...,t,163.0,t,0.94,t,173.0,f,NaN,other,replacement therapy

In [94]:
features=data[['age', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH',
        'T3','TT4', 'T4U',
        'FTI',  'TBG']]
features
cols=['lithium','goitre', 'tumor', 'hypopituitary', 'psych']
encoded={'f':0,"t":1}
for col in cols: 
    features[col]=[encoded[i] for i in features[col].values]
features

<ipython-input-94-df7d5737cb7e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[col]=[encoded[i] for i in features[col].values]

,age,lithium,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,TBG
18,63,0,0,0,0,0,68.000000,NaN,48.0,1.02,47.0,NaN
32,41,0,0,0,0,0,0.050000,1.6,39.0,1.00,39.0,NaN
33,71,0,0,0,0,0,0.050000,NaN,126.0,1.38,91.0,NaN
39,55,0,0,0,0,0,9.599999,2.4,136.0,1.48,92.0,NaN
40,32,0,0,0,0,0,0.050000,2.0,163.0,0.94,173.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9153,64,0,0,0,0,0,0.810000,NaN,31.0,0.55,56.0,NaN
9157,60,0,0,0,0,0,0.180000,NaN,28.0,0.87,32.0,NaN
9158,64,0,0,0,0,0,NaN,NaN,44.0,0.53,83.0,NaN
9162,36,0,0,0,0,0,NaN,NaN,84.0,1.26,67.0,NaN
9169,69,0,0,0,0,0,NaN,NaN,113.0,1.27,89.0,NaN

In [100]:
x=features.values

In [101]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [102]:
x_train,x_test,y_train,y_test=train_test_split(x,target,test_size=0.2)

In [103]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [ ]:
data=RandomForestClassifier(max_depth=5,n_estimators=50).fit(x_train,y_train)